body { 
    background: chocolate url("../img/donutsInCase2.jpg");
    background-size: 1600px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: #1E1B0E;
    font-size: 100%;
    width: 85em;
    height: 80em;
}