
body h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 100%;
}
#GandB {
    margin-left: 25px;
    margin-top: 8px;
}
#menuPlanner,span {
    float: right;
    margin: 0 10px 0 20px;
    
}

#MainArticle {
    border: chocolate 15px ridge;
    margin: 15px 15px 0px 15px;
    margin-left: 15px; 
    padding: 10px;
    background-color: yellow;
}
#commentForm {
    width: 25%;
    padding-left: 4em;
}

#contactInfo {
    width: 20%;
    padding-left: 10em;
    padding-right: 2em;
}

section {
    float: left;
    margin-top: 1em;
}

section a{
    float: left;
}

iframe {
    border-radius: 18px;
}

form {
    border: 6px groove darkslateblue;
    border-radius: 18px;
    padding-top: 2em;
}
fieldset {
    margin-bottom: .5em;
    padding: .5em 1em;
}
label, input, select {
	font-size: 90%;
}
input, textarea {
    border: none;
    border-radius: 6px;
    margin: 5%;
    line-height: 1.5em;
    width: 90%;
}
input, select {
    width: 15em;
    margin-left: .5em;
    margin-bottom: .5em;
}
input:required, input[required] input:invalid {
	border: 2px solid #800000;
}
input:valid {
	border: 1px solid black;
}
input:invalid {
	border: 2px solid #800000;
	box-shadow: none;
}

textarea {
    height: 6em;
}

label {
    padding: 1.5em;
}

#button {
    width: 50%;
    background-color: #B9B2E3;;
    float: right;
    font-size: 120%;
}

pre {
    font-size: 120%;
}

span {
    float: right;
    margin: 0 .6em 0 1.4em;
}


footer {
    margin: 5px;
    color: white;
}

footer p{
    color: black
}

footer address{
    color: black
}