#navItem a{
    padding:2em;
}
#navItem a.current {
    color: white;
}
#navItem {
    position: absolute;
    right: 0.2em;
    top: 3em;
    color: #252217;
    background-color: rgb(211, 109, 13);
    padding: 1.3em;
    font-size: 1.3em;
    font-weight: bolder;
    text-decoration: none;
    margin: .2em;
    border: rgb(123,63,0) 3px groove;
}

